.container{
    margin: 20px;
}

.main-section {
    margin-top: 2vh !important;
}

.content-justify{
    text-align: justify;
    margin-top: 2vh !important;
}

.content-standard{
    text-align: left;
}

.row-sidebar {
    padding: 1vh;
}

.row-sidebar li {
    text-align: left;
}

.name{
    margin-bottom: 2vh;
}

ul li p {
    display: inline;
}

.col-sidebar{
    background-color: gray;
    padding: 2vh !important;
}

.dropdown{
    cursor: pointer;
    font-size: calc(1.3rem + .6vw);
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(46, 45, 45);
    color: white;
  }